.form-control {
    width: 90%;
}
.form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    min-width: 50vw;
}

h5 {
    color: red;
}

.title-container, .submit-button-wrapper {
    display: flex;
    justify-content: center;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

