.add-atributte-values-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  min-width: 20vmax;
  min-height: 100vh;
}

mat-card {
  max-width: 55vh;
  min-width: 20vmax;
  justify-self: center;
  background-color: #adc5d7;
}
  
mat-form-field {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

mat-card-title {
  font-size: medium;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  max-width: 100%;
  text-align: center;
}

mat-card-content {
  display: flexbox;
  justify-content: center;
}

button {
  background-color: #7d9eb8;
}

img {
  align-self: center;
  max-width: 90%;
}

.error {
  padding: 16px;
  color: red;
  text-align: center;
  text-decoration: solid;
  font-size: medium;
}

.place-for-button {
  justify-content: center;
  display: flex;
}

.logo-container {
  display: flex;
  justify-content: center;
}


  