.upload-images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-width: 20vmax;
  min-height: 100vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

#upload-images-mat-card {
  max-width: 100%;
  min-width: 20vmax;
  background-color: #adc5d7;
}

mat-form-field {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-card-title {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

mat-card-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

div.image {
  display: inline;
}

button {
  background-color: #7d9eb8;
}

.image {
  max-width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

.place-for-button {
  display: flex;
  justify-content: center;
}

.close {
  position: absolute;
  top: 0;
  right: 5%;
}

.logo-container {
  display: flex;
  justify-content: center;
}

#logo {
  align-self: center;
  max-width: 55vh;
  min-width: 22vmax;
}

.all-images {
  padding: 16px;
}

.mat-elevation-z4 {
    width: 250px;
}

.img-wrp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.images-wrap {
  width: 100%;
}
