body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #cdcdcd;
}

.see-message-container {
	display: flex;
	justify-content:center;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	min-height:300px;
	align-items: center;
	
}

.message-wrapper {
	display: flex;
	justify-content:center;
	background-color: lightsteelblue;
	min-width: 40vw;
	max-width: 800px;
	padding: 8px;
	word-break:break-all;
	flex-direction:column;
}