<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kupovina proizvoda - ETFBL_IP</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<app-webshop-toolbar [isLoggedIn]="true"></app-webshop-toolbar>
<div class="buying-container">
    <mat-card>
        <mat-card-title>Kupovina proizvoda: {{productForBuying?.title}}</mat-card-title>
        <div class="product-image" *ngIf="productForBuying?.image; then withImage else withoutImage" >
        </div>
        <ng-template #withImage>
            <img mat-card-image [src]="productForBuying?.image">
        </ng-template> 
        <ng-template #withoutImage>
            <img mat-card-image src="./../../../assets/logo 0.png">
        </ng-template>
        <br>
        <br>
        <mat-card-subtitle>Odaberite nacin placanja</mat-card-subtitle>
        <mat-card-content>
                <mat-radio-group (change)="onChangePaymentMethodRadioButton($event)" 
                aria-labelledby="example-radio-group-label" class="example-radio-group" >
                    <mat-radio-button class="example-radio-button" *ngFor="let method  of paymentMethods" [value]="method">
                        {{method}}
                    </mat-radio-button>
                </mat-radio-group>
                <form [formGroup]="form" (ngSubmit)="buyProduct()">
                <p class="card-num">
                    <mat-form-field [class.cdk-visually-hidden]="!isCardPayment">
                        <mat-label>Broj kartice</mat-label>
                        <input [class.cdk-visually-hidden]="!isCardPayment" matInput placeholder="Broj kartice" 
                                    type="text" [required]="isCardPayment" formControlName="cardNumber" minlength="16" maxlength="16" pattern="[0-9]*">
                    </mat-form-field>
                    <span *ngIf="isCardPayment && form.controls['cardNumber'].touched && form.controls['cardNumber'].invalid">
                        Broj karice je broj od 16 cifara.
                    </span>
                </p>
                <p *ngIf="(error)" class="error">
                    {{error}}
                </p>
                <br>
                <div class="place-for-button">
                    <button class="submit-button"  type="submit" mat-button>Zavrsi kupovinu</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
</body>
</html>
